<!-- Modal -->
<div class="modal fade" bsModal id="modalAdd" #modalAdd="bs-modal" (onHidden)="onModalHidden()" 
     tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="modelTitleId">Inserir Turno</h4>
            </div>
            <div class="modal-body">
                <form (submit)="save()">
                  <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label for="inicio">Inicio</label>
                                    <input 
                                      type="text" name="inicio" id="incio"
                                      value="{{ turno.inicio  | date:'dd/MM/yy' }}"
                                      class="form-control" [(ngModel)]="turno.inicio"
                                      placeholder="Data e Hora do Inicio do turno" 
                                      bsDatepicker #i="bsDatepicker" [bsConfig]="bsConfig" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <timepicker [(ngModel)]="horaInicio" [showMeridian]="false" 
                                      [ngModelOptions]="{standalone: true}"></timepicker>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label for="inicio">Fim</label>
                                    <input 
                                      type="text" name="fim" id="fim"
                                      value="{{ turno.fim | date:'dd/MM/yy' }}"
                                      class="form-control" [(ngModel)]="turno.fim"
                                      placeholder="Data e Hora do Fim do turno" 
                                      bsDatepicker #f="bsDatepicker" [bsConfig]="bsConfig" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <timepicker [(ngModel)]="horaFim" [showMeridian]="false" [ngModelOptions]="{standalone: true}"></timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <h3 class="text-center">Funcionários</h3>
                        <ul class="list-group checked-list-box">
                           <li class="list-group-item" *ngFor="let user of users">
                                <label for="funcionario">{{user.nome}}</label>
                                <input type="checkbox" (change)="escalado($event,user)" >
                           </li>
                        </ul>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
                </form>
            </div>

        </div>
    </div>
</div>