<div class="container">
    <header class="pageHeader">
        <h3>
            <i class="fa fa-truck fa-lg page-caption" aria-hidden="true"></i> 
            Seus Turnos 
        </h3>
    </header>

    <div [@fadeInOut]>
        <span class="text-muted">-- Quando estiver no horario? {{atraso}} --</span>
        <ngx-datatable class="material colored-header table table-striped"
            [rows]="rows"
            [columns]="columns"
            [rowHeight]="55"
            [columnMode]="'force'">
        </ngx-datatable>
    </div>
</div>

<ng-template #horarioTemplate let-value="value">
    <span> {{value | date:'dd/MM/yy hh:mm'}} </span>
</ng-template>

<ng-template #situacaoTemplate let-value="value">
    <div *ngIf="!value">
        Não Aberto 
    </div>
    <div *ngIf="value">
        Não Fechado
    </div>
</ng-template>

<ng-template let-row="row" #acoesTemplate let-value="value">
    <div *ngIf="!value">
       <button class="btn btn-primary" (click)="openTurno(row)">Abrir</button>
    </div>
    <div *ngIf="value">
        <div [ngSwitch]="true">
            <button (click)="fechar(row)"
              *ngSwitchCase="value.abertura !== null && value.fechamento === null" class="btn btn-danger">
              Fechar
            </button>
        </div>
    </div>
</ng-template>

<div class="modal fade" bsModal #abrirTurnoModal="bs-modal" (onHidden)="onAbrirTurnoModalHidden()" 
    [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <i class="fa fa-envelope-open">
                        Abrindo Turno ...
                    </i> 
                </h4>
                <button type="button" class="close pull-right" title="Close" (click)="abrirTurnoModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Inicio/Recebimento: <strong> {{ today |  date:'dd/MM - hh:mm' }} </strong> </p>
                        <p>
                           Recebido De: <strong>{{funcionario?.nome}}</strong> 
                        </p>
                    </div>
                    <hr>
                    <div class="row">
                            <form novalidate (submit)="confirmar(funcionario)">
                                <div class="col-md-8" *ngIf="turno">
                                    <div class="form-group">
                                        
                                        <div class="col-md-6">
                                            <select id="funcionario" #selectDirective="bootstrap-select" [(ngModel)]="funcionario" name="funcionario"
                                               bootstrapSelect   data-live-search="true" required title="Funcionario ..."
                                              class="selectpicker form-control">
                                                <option *ngFor="let funcionarioEscolhido of funcionarios" 
                                                    [ngValue]="funcionarioEscolhido">
                                                    {{funcionarioEscolhido.nome}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-top:15px;">
                                        <button class="btn btn-primary"  type="submit"  
                                           title="Confimar">
                                            Confirmar
                                        </button>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>