<div class="container">
    <header class="pageHeader">
        <div class="alert alert-info" style="background-color:#dff0d8;">
            <h2 class="text-center">
                Turnos do Local
            </h2>
            <h3 class="text-center">
                {{local.endereco?.logradouro}} {{local.endereco?.numero}}
            </h3>
            <h4 class="text-center">
                {{local?.descricao}}
            </h4>
        </div>
    </header>

    <div [@fadeInOut]>
        <div class="panel row">
            <div  class="col-md-4">
                <ul class="nav justify-content-end" style="margin-top: 50px;">
                    <li class="nav-item" style="padding: 5px;">
                        <button class="nav-link active btn btn-primary" (click)="newTurno()">Adicionar</button>
                    </li>
                </ul>
                <!-- <div *ngIf="displayEvent" class="container event-display">
                    <div class="card">
                        {{displayEvent.start | date:'dd/MMM H:mm'}} - {{displayEvent.end | date:'dd/MMM H:mm'}}
                        <p *ngFor="let item of displayEvent.escalados">
                            {{item.nome}}
                        </p>
                    </div>
                </div> -->
            </div>
            <div class="col-md-8">
                <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
            </div>
        </div>

    </div>
</div>
<new-turno (hideModal)="onHideModal($event)" (saveTurno)="onSaveTurno($event)" #addTurno [localId]="localId">
</new-turno>