<div class="conteiner">
    <header class="pageHeader">
        <h3>
            <i class="fa fa-tachometer fa-lg page-caption" aria-hidden="true"></i>
            Abrir Turno
        </h3>
    </header>
    <div [@fadeInOut]>
        <div class="panel panel-default">
            <div class="panel-body">
                <form (ngSubmit)="onSubmit(formulario)" [formGroup]="formulario" novalidate>
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-sm-9" >
                                <label for="observacoes">Observação</label>                              
                                <input type="text" attr.id="observacoes" 
                                   formControlName="observacoes" name="observacoes" 
                                    placeholder="Observação" class="form-control"
                                    required />
                            </div>
                            <div class="col-sm-9">
                                <label for="obervacao">Escala Anterior</label>  
                                <select class="form-control" name="escalaAnterior" (ngModelChange)="onChangeEscala($event)"
                                     id="escalaAnterior" formControlName="escalaAnterior">
                                    <option *ngFor="let item of escalas" [value]="item.id">
                                        {{item.applicationUser.nome}}, {{item.inicio | ptBrDate }} às {{item.inicio | ptBrDate }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Salvar</button>
                </form>
            </div>
        </div>


                <div  *ngIf="informacoesTurnoAnterior.length === 0">
                    Nao tem informacoes anteriores nesta escala.
                </div>
                <div  *ngIf="informacoesTurnoAnterior.length !== 0">
                            <h4 class="text-center">
                                Informações da Escala Anterior
                            </h4>
                        <div *ngFor="let item of livros">
                            <div>
                                <pagina-escala [livro]="item" [editMode]="false"></pagina-escala>
                            </div>
                        </div>

                </div>


    </div>
</div>

