

<div class="container">
    
    <header class="pageHeader">
        <h3>
            <i class="fa fa-tachometer fa-lg page-caption" aria-hidden="true"></i>
        </h3>
    </header>

    <div [@fadeInOut]>
        <!-- {{rows|json}} -->
      <ngx-datatable class="material colored-header sm table table-striped table-hover"
        [loadingIndicator]="loadingIndicator"
        [rows]="rows"
        [rowHeight]="50"
        [headerHeight]="40"
        [footerHeight]="50"
        [columns]="columns"
        [scrollbarV]="true"
        [columnMode]="'force'">
      </ngx-datatable>
    </div>
</div>

<ng-template #horarioTemplate let-value="value">
    <span> {{value | ptBrDate }} </span>
</ng-template>

<ng-template #acoesTemplate let-value="value" let-row="row" >
    <a class="btn btn-link btn-xs" href="javascript:;" *ngIf="!row.isOpen" title="Abrir"    
       href="#/funcionario/setores/{{row.setorId}}/escala/{{row.id}}/abrir">
       <i class="fa fa-lock" aria-hidden="true"></i>
           Abrir
    </a>
    <a class="btn btn-link btn-xs red-icon" href="javascript:;" *ngIf="row.isOpen" title="Fechar"    
       href="#/funcionario/setores/{{row.setorId}}/escala/{{row.id}}/fechar">
    <i class="fa fa-unlock" aria-hidden="true"></i>
       Fechar
      </a>
    
</ng-template>
<ng-template #enderecoTemplate let-value="value" let-row="row">
    <strong>{{row.logradouro}}, {{row.numero}} - {{row.bairro}}</strong>
</ng-template>
