<div class="container">
    <header class="pageHeader text-center">
        <h3>
            <i class="fa fa-book-o fa-lg page-caption" aria-hidden="true"></i>
            Livro de Ocorrencias
        </h3>
        <h4>
            {{local}}/{{nomeSetor}}
        </h4>
    </header>
    <hr />
    <ul class="nav navbar-nav nav-pills navBarPadding navbar-left">
            <li  *ngFor="let item of livros;  let i = index" >
              <a 
                (click)="changeTable(i)"
                href="javascript:;"
                >
                <span class="glyphicon glyphicon-book"></span>
                {{item.nome}}
            </a>
            </li>
    </ul>
    <ul class="nav navbar-nav nav-pills navBarPadding navbar-right">
            <li><a (click)="fechar()" href="javascript:;"><span class="glyphicon glyphicon-save-file"></span> Fechar Escala </a></li>
    </ul>
    <hr />
    <div [@fadeInOut] class="row">
        <div class="container">
            <div *ngFor="let item of livros">
                <div *ngIf="item.id===livroAtivo" >
                    <pagina-escala [livro]="item" [editMode]="true"></pagina-escala>
                </div>
            </div>
        </div>
    </div>
</div>