<div class="ocorrencia-view">
        <div class="panel panel-default">
                <div class="panel-body"> 
                        <button *ngIf="editMode" (click)="openEditorModal()" class="btn btn-primary"> (+)</button>
    <div>
        {{nomeLivro}}
    </div>
    <div class="ocorrencia-table">
      <ngx-datatable #table 
        class="material colored-header sm table table-striped table-hover"
        [loadingIndicator]="loadingIndicator"
        [rows]="rows"
        [rowHeight]="60"
        [headerHeight]="40"
        [footerHeight]="60"
        [columns]="columns"
        [scrollbarH]="false"
        [columnMode]="'force'">
       </ngx-datatable>
   </div>
                </div>
            </div>

</div>

<ng-template #acoesTemplate let-value="value" let-row="row" >
    <button *ngIf="editMode" class="btn btn-link btn-xs" 
            href="javascript:;" 
            (click)="addArquivos(row.id)" 
            title="Adicionar Arquivos">
       <i class="fa fa-paperclip" aria-hidden="true"></i>
           Arquivos
    </button>   <button class="btn btn-link btn-xs" 
       href="javascript:;" 
       (click)="detalhes(row)" 
        title="Detalhes">
<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  Detalhes
</button>  
</ng-template>

<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" 
   [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <i class="fa fa-book"></i> 
                </h4>
                <button type="button" class="close pull-right" title="Close" 
                    (click)="editorModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dynamic-form [config]="configForm" 
                   (submit)="formSubmitted($event)" >
                </dynamic-form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #uploadFilesModal="bs-modal" (onHidden)="onEditorModalHidden()" 
   [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <i class="fa fa-book"></i> 
                </h4>
                <button type="button" class="close pull-right" title="Close" 
                    (click)="uploadFilesModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container"> 
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Adicionar Arquivos a Ocorrencia</h3>
                        <div class="form-group">
                            <div class="input-group input-file" name="file">
                                <input type="file" #fileInput class="form-control" 
                                   multiple placeholder="Submeta..." name="files" />
                                <button type="button" class="btn btn-primary" (click)="upload()">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>