<div class="vertical-center-flex">
    <div class="cadastro-container center-block">
        <div class="panel panel-primary boxshadow">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-lock"></span> Cadastro
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2">
                    <form *ngIf="formResetToggle" class="form-horizontal" name="cadastroForm" #f="ngForm" novalidate
                          (ngSubmit)="f.form.valid ? cadastro() :
                          (!email.valid && showErrorAlert('Email Requerido', 'Entre com um email valido'));
                          (!senha.valid && showErrorAlert('Senha Requerida', 'Please enter a valid senha'))">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="cadastro-nome">Nome:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && email.valid, 'has-error' : f.submitted && !nome.valid}">
                                <input type="text" id="cadastro-nome" name="nome" placeholder="Nome completo" class="form-control" [(ngModel)]="userCadastro.Nome" #nome="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': nome.valid, 'glyphicon-remove' : !nome.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !nome.valid">
                                    Nome requerido
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="cadastro-telefone">Telefone:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted 
                                 && telefone.valid, 'has-error' : f.submitted && !telefone.valid}">
                                <input [textMask]="{mask: maskTelefone}" type="text" id="cadastro-telefone" name="telefone" placeholder="Telefone" class="form-control" 
                                    [(ngModel)]="userCadastro.Telefone" #telefone="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" 
                                    [ngClass]="{'glyphicon-ok ': telefone.valid, 'glyphicon-remove' : !telefone.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !telefone.valid">
                                    Telefone requerido
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="cadastro-email">Email:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && email.valid, 'has-error' : f.submitted && !email.valid}">
                                <input type="text" id="cadastro-email" name="email" placeholder="Entre com email" class="form-control" [(ngModel)]="userCadastro.email" #email="ngModel" required email />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}" aria-hidden="true"></span>
                                <span class="errorMessage" *ngIf="f.submitted && (email.errors && email.errors.required) ">
                                    Email requerido
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && email.errors && email.errors.email">
                                    Email inválido
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="cadastro-confirmaemail">Confirme Email:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && confirmaemail.valid, 'has-error' : f.submitted && !confirmaemail.valid}">
                                <input type="text" id="cadastro-confirmaemail" name="confirmaemail" placeholder="Entre com email para confirmar" class="form-control" [(ngModel)]="userCadastro.EmailCofirma" #confirmaemail="ngModel" required email/>
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': confirmaemail.valid, 'glyphicon-remove' : !confirmaemail.valid}" aria-hidden="true"></span>
                                <span class="errorMessage" *ngIf="f.submitted && (confirmaemail.errors && confirmaemail.errors.required) ">
                                    Email requerido
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && confirmaemail.errors && confirmaemail.errors.email">
                                    Email inválido
                                </span>
                                <!-- <span class="errorMessage" *ngIf="f.submitted && confirmaemail.errors && confirmaemail.errors.email">
                                    Email inválido
                                </span> -->
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="cadastro-senha">Senha:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && senha.valid, 
                              'has-error' : f.submitted && !senha.valid}">
                                <input type="password" id="cadastro-senha" name="senha" placeholder="Enter senha" 
                                  class="form-control" [(ngModel)]="userCadastro.Senha" #senha="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" 
                                  [ngClass]="{'glyphicon-ok ': senha.valid, 'glyphicon-remove' : !senha.valid}" 
                                    aria-hidden="true"></span>
                                <span class="errorMessage" *ngIf="f.submitted && !senha.valid">
                                    Senha requerida
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="cadastro-senhaConfirma">Confirme senha:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && senhaConfirma.valid, 'has-error' : f.submitted && !senhaConfirma.valid}">
                                <input type="password" id="cadastro-senhaConfirma" name="senhaConfirma" placeholder="Confirme senha" class="form-control" [(ngModel)]="userCadastro.SenhaConfirma" #senhaConfirma="ngModel" required validateEqual="senha" />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': senhaConfirma.valid, 'glyphicon-remove' : !senhaConfirma.valid}" aria-hidden="true">
                                    
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !senhaConfirma.valid">
                                    Confirme sua senha.
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !senhaConfirma.valid && !senhaConfirma.validateEqual">
                                    Senhas de confirmação e senha não estão iguais;
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" [disabled]="isLoading"><i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Cadastrando...' : 'Cadastrar'}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>