<div class="vertical-center-flex">
    <div class="cadastro-container center-block">
        <div *ngIf="validLink" class="panel panel-primary boxshadow">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list-alt"></span> Confirme Seus Dados
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2 boxshadow">
                    <form (ngSubmit)="f.form.valid ? confirmaCadastro() : showAlert('Implementar Validadação e alertas')" novalidate  class="form-horizontal" #f="ngForm">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="confirma-logradouro">Rua:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && logradouro.valid, 'has-error' : f.submitted && !logradouro.valid}">
                                <input type="text" id="confirma-logradouro" name="logradouro" placeholder="Rua" class="form-control" [(ngModel)]="userConfirma.Logradouro" #logradouro="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': logradouro.valid, 'glyphicon-remove' : !logradouro.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !logradouro.valid">
                                    Rua requerido
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            
                            <label class="control-label col-md-2" for="confirma-cep">Cep:</label>
                            <div class="col-md-6" [ngClass]="{'has-success': f.submitted && logradouro.valid, 'has-error' : f.submitted && !cep.valid}">
                                <input type="text" (blur)="searchCep(cep)" [textMask]="{ mask: maskCep }" id="confirma-cep" name="cep" placeholder="Cep" class="form-control" [(ngModel)]="userConfirma.Cep" #cep="ngModel" required pattern="[1-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]" />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': cep.valid, 'glyphicon-remove' : !cep.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !cep.valid">
                                    Cep requerido
                                </span>
                            </div>

                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="confirma-numero">N°:</label>
                            <div class="col-md-4" [ngClass]="{'has-success': f.submitted && numero.valid, 'has-error' : f.submitted && !numero.valid}">
                                <input type="text" id="confirma-numero" name="numero" placeholder="Número" class="form-control" [(ngModel)]="userConfirma.Numero" #numero="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': numero.valid, 'glyphicon-remove' : !numero.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !numero.valid">
                                    Número requerido
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="confirma-bairro">Bairro:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && bairro.valid, 'has-error' : f.submitted && !bairro.valid}">
                                <input type="text" id="confirma-bairro" name="bairro" placeholder="Bairro" class="form-control" [(ngModel)]="userConfirma.Bairro" #bairro="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': bairro.valid, 'glyphicon-remove' : !bairro.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !bairro.valid">
                                    Bairro requerido
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="confirma-cidade">Cidade:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && cidade.valid, 'has-error' : f.submitted && !cidade.valid}">
                                <input type="text" id="confirma-cidade" name="cidade" placeholder="Cidade" class="form-control" [(ngModel)]="userConfirma.Localidade" #cidade="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': cidade.valid, 'glyphicon-remove' : !cidade.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !cidade.valid">
                                    Cidade requerido
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="col-sm-2 col-md-offset-2">
                                <input name="tipoDeDocumento" [(ngModel)]="tipoDeDocumento" class="form-control" type="checkbox" data-on="Cnpj" 
                                   data-off="Cpf" bootstrapToggle data-size="small" />
                            </div>
                            <div class="col-md-6" 
                                [ngClass]="{'has-success': f.submitted && validaDocumento(identidade), 'has-error' : f.submitted && !validaDocumento(identidade)}">
                                <input [textMask]="{mask: chooseMask()}" type="text" id="confirma-identidade" 
                                   name="identidade" placeholder="Num. Documeto" class="form-control" [(ngModel)]="userConfirma.NumeroDoDocumento" 
                                      #identidade="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" 
                                   [ngClass]="{'glyphicon-ok ': validaDocumento(identidade), 'glyphicon-remove' : !validaDocumento(identidade)}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="f.submitted && !validaDocumento(identidade)">
                                    Documento requerido
                                </span>
                            </div>
                        </div>
                        <hr class="separator-hr" />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" [disabled]="isLoading"><i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Enviando dados...' : 'Confirme'}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center" *ngIf="!validLink">
            <h3>
                O link não é mais válido.
            </h3>
        </div>
    </div>
</div>