input {
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7);
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}
