<div class="container">
        <header class="pageHeader">
            <h3> 
                <i class="fa fa-book-o fa-lg page-caption" aria-hidden="true"></i> Ocorrencias do Turno
            </h3>
        </header>
        <div class="row control-box">
            <div class="col-sm-3">
                <div class="control-box">
                    <button class="btn btn-danger btn-sm">Fechar Turno</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="navbar action-box">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="toolbaritem">
                            <a href="javascript:;" (click)="newOcorrenciaForm()">
                                <i class="fa fa-plus-circle"></i> 
                                Inserir Ocorrencia
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div [@fadeInOut]>
          <ngx-datatable class="material colored-header sm table table-striped table-hover"
            [loadingIndicator]="loadingIndicator"
            [rows]="rows"
            [rowHeight]="60"
            [headerHeight]="40"
            [footerHeight]="60"
            [columns]="columns"
            [scrollbarV]="true"
            [columnMode]="'force'">
          </ngx-datatable>
        </div>
    <!-- Modal nova ocorrencia     -->
    <div class="modal fade" 
         bsModal #editorModal="bs-modal" 
        (onHidden)="editorModal.hide()" 
        [config]="{backdrop: 'static'}" 
        tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">
                            <i class="fa fa-book"></i>
                            Inserir Ocorrencia
                        </h4>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" 
                            (ngSubmit)="onSubmit(criarForm)" 
                            #criarForm="ngForm" 
                            novalidate>
                            <div class="form-group">
                                    <div class="col-md-2"></div>    
                                    <div class="col-md-6" style="padding-top: 10px;">
                                            <label for="dataOcorrido">Data e Hora</label>
                                            <input 
                                              type="text" name="dataOcorrido" id="dataOcorrido"
                                              class="form-control" [(ngModel)]="dataOcorrido"
                                              placeholder="Data e Hora do Inicio do turno" 
                                              bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" />
                                     </div>
                                     <div class="col-md-4">
                                            <timepicker name="horaOcorrido" 
                                               id="horaOcorrido" [(ngModel)]="horaOcorrido" [showMeridian]="false" 
                                            ></timepicker>
                                     </div>
                            </div>
                            <!-- input descricao -->
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-2" for="descricao">Descrição</label>
                                <div class="col-md-9" 
                                   [ngClass]="{'has-success': criarForm.submitted && descricao.valid, 'has-error' : 
                                      criarForm.submitted && !descricao.valid}" >
                                      <input type="text" attr.id="descricao_attr_id" name="descricao" 
                                         placeholder="descrição do local" class="form-control" 
                                         #descricao="ngModel" [(ngModel)]="newOcorrenciaObj.descricao" required />
                                </div>
                            </div>
                            <!-- input ocorrido -->
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-2" for="ocorrido">Ocorrido:</label>
                                <div class="col-md-10" [ngClass]="{'has-success': criarForm.submitted && 
                                   ocorrido.valid, 'has-error' : criarForm.submitted && !ocorrido.valid}">
                                    <textarea name="ocorrido" placeholder="Ocorrido" 
                                        class="form-control" [(ngModel)]="newOcorrenciaObj.ocorrido" #ocorrido="ngModel" 
                                        required name="ocorrido" id="ocorrido" cols="30" rows="10">
                                    </textarea>
                                    <span *ngIf="criarForm.submitted" 
                                           class="glyphicon form-control-feedback" 
                                      [ngClass]="{'glyphicon-ok ': ocorrido.valid, 
                                        'glyphicon-remove' : !ocorrido.valid}" aria-hidden="true">            
                                    </span>
                                    <span class="errorMessage" *ngIf="criarForm.submitted && !ocorrido.valid">
                                        Escreva o Ocorrido
                                    </span>
                                </div>
                            </div>
                            
                            <div  class="form-group">
                                <label class="control-label col-md-2" for="nome">Tipo</label>
                                <div  class="col-md-4">
                                    <select class="form-control" name="nome" id="nome" #nome 
                                       [(ngModel)]="newOcorrenciaObj.nome" >
                                        <option value="Garagem">
                                            Garagem
                                        </option>
                                        <option value="Oficina">
                                            Oficina
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Criar</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
 
<ng-template #horarioTemplate let-value="value">
    <span> {{value | date:'dd/MM/yy hh:mm'}} </span>
</ng-template>
<ng-template #acoesTemplate let-row="row">
    <button class="btn btn-primary btn-sm" (click)="alert(row)">Ver</button>
    <button class="btn btn-warning btn-sm" (click)="alert(row)">Anexar</button>
</ng-template>