<div class="container">
    <header class="pageHeader text-center">
        <h3> 
            <i class="fa fa-book-o fa-lg page-caption" aria-hidden="true"></i>
            Livro de Ocorrencias <br>
            {{livroLocal}} / {{livroSetor}}

        </h3>
    </header>
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let item of livros;  let i = index" >
          <a class="nav-link active" 
            data-toggle="tab" href="javascript:void(0)" 
            (click)="changeTable(i)">{{item.nome}}
            <span class="glyphicon glyphicon-book"></span>
        </a>
            
        </li>
    </ul>
    <div [@fadeInOut]>
        <div *ngFor="let livro of livros">
            <div *ngIf="livro.id===livroAtivo" >
                <livro [livro]="livro" ></livro>
            </div>
        </div>
    </div>
</div>