<div class="container">
    <header class="pageHeader text-center">
        <h3> 
            <i class="fa fa-book-o fa-lg page-caption" aria-hidden="true"></i>
            Livro de Ocorrencias
        </h3>
    </header>
    <div [@fadeInOut]>
        <header class="pageHeader text-center">
            <h4>
                Aberto : <strong>{{ pag.inicio | ptBrDate }}</strong> <br>
                Fechado : <strong>{{ pag.fim | ptBrDate }}</strong> <br>
                Observacaoes de Entrada : <strong>{{ pag.observacoesAbertura }}</strong> <br>
                Observacaoes de Fechamento: <strong>{{ pag.observacoesFechamento }}</strong> 
            </h4>
        </header>
        <ngx-datatable #table 
            class="material colored-header sm table table-striped table-hover"
            [loadingIndicator]="loadingIndicator"
            [rows]="rows"
            [rowHeight]="60"
            [headerHeight]="40"
            [footerHeight]="60"
            [columns]="columns"
            [scrollbarH]="false"
            [columnMode]="'force'"
            [scrollbarV]="false"
            [externalPaging]="true"
            [count]="page.count"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (page)="changePage($event)"
            >
      </ngx-datatable>
    </div>
</div>

<ng-template #acoesTemplate let-value="value" let-row="row" >
      <button class="btn btn-link btn-xs" 
       href="javascript:;" 
       (click)="detalhes(row)" 
        title="Detalhes">
       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Detalhes
   </button>  | 
   <span title="Numero de arquivos" class="badge badge-primary">
      {{row.arquivos ? row?.arquivos.length : 0 }}
   </span>
</ng-template>