<div class="container">
    
    <header class="pageHeader">
        <h3>
            <i class="fas fa-camera fa-lg page-caption" aria-hidden="true"></i>
        </h3>
    </header>
    <div class="card">
        <div class="card-block">
            <p class="card-text text-center"> 
               Observacao: <strong>{{observacao}}</strong>
            </p>
        </div>
      </div>
    <div class="card" style="margin-top: 20px;">
        <img *ngFor="let img of imgUrls" class="card-img-top" style="display: block; margin-left: auto; margin-right: auto"
             [src] ="img" 
             alt="">
    </div>
    <button (click)="onPressBackButton()" type="button" class="btn btn-primary link-outline">
        Voltar
    </button>
</div>