<div class="container">
    <header class="pageHeader text-center">
        <h3>
            <i class="fa fa-book-o fa-lg page-caption" aria-hidden="true"></i>
            Livro de Ocorrencias
        </h3>
        <h4>
            {{local}}/{{nomeSetor}}
        </h4>
    </header>
    <hr />
    <div [@fadeInOut] class="row">
        <div class="col-sm-12">
            <ul bootstrapTab #tab="bootstrap-tab" class="nav nav-tabs" (showBSTab)="onShowTab($event)">
                <li class="active">
                    <a id="entradaTab" [routerLink]="[]" fragment="entrada" href="#entrada" data-toggle="tab">
                        <i class="fa fa-car fa-fw" aria-hidden="true"></i>
                        Entrada De Veiculos
                    </a>
                </li>
                <li>
                    <a id="anotacoesTab" [routerLink]="[]" fragment="anotacoes" href="#anotacoes" data-toggle="tab">
                        <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
                        Anotações
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <div class="tab-content">
                <div class="tab-pane active" id="entrada">
                        <h4>Entrada</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] class="content-container">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-sm" (click)="newRow()">
                                Nova Entrada (+)
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="fechar()">
                                Fechar Turno
                            </button>
                        </div>
                        <ngx-datatable class="material colored-header sm table table-striped table-hover" [loadingIndicator]="loadingIndicator" [rows]="rows"
                            [rowHeight]="50" [headerHeight]="40" [footerHeight]="30" [columns]="columns" [scrollbarV]="true"
                            [columnMode]="'force'">
                        </ngx-datatable>
                    </div>
                </div>

                <div class="tab-pane" id="anotacoes">
                    <h4>Anotações</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] class="content-container">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="newAnotacao()">
                                        Nova Entrada (+)
                                    </button>
                                </div>
                        <ngx-datatable class="material colored-header sm table table-striped table-hover" [loadingIndicator]="loadingIndicator" [rows]="rowsDiversas"
                            [rowHeight]="40" [headerHeight]="40" [footerHeight]="40" [columns]="columnsDiversas" [scrollbarV]="true"
                            [columnMode]="'force'">
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #acoesTemplate let-value="value" let-row="row" let-rowIndex="rowIndex">
    <a *ngIf="!row.enviado" class="btn btn-link btn-xs" href="javascript:;" title="{{row | json }}" (click)="salvar(row,rowIndex)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Salvar
    </a>
    <a *ngIf="row.enviado" class="btn btn-link btn-xs" href="javascript:;" title="{{row | json }}" (click)="salvar(row,rowIndex)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Editar
    </a>
</ng-template>

<ng-template #inputDataEntrada ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <input autofocus (blur)="updateComplexValue($event, 'entrada' , 'data', rowIndex)" type="date" [value]="value" />
</ng-template>

<ng-template #inputHoraEntrada ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <input autofocus (blur)="updateComplexValue($event, 'entrada' , 'hora', rowIndex)" type="time" [value]="value" />
</ng-template>

<ng-template #inputHoraSaida ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <input autofocus (blur)="updateComplexValue($event, 'saida' , 'hora', rowIndex)" type="time" [value]="value" />
</ng-template>

<ng-template #inputDataSaida ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <input autofocus (blur)="updateComplexValue($event, 'saida' , 'data', rowIndex)" type="date" [value]="value" />
</ng-template>

<ng-template #inputPlaca ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <input autofocus (blur)="updateValue($event, 'placa', rowIndex)" type="text" [value]="value" maxlength="8"/>
</ng-template>

<ng-template #inputNomeMotorista ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <input autofocus (blur)="updateComplexValue($event, 'motorista', 'nome' , rowIndex)" type="text" [value]="value" />
</ng-template>

<!-- <ng-template #inputNomeMotorista ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <input autofocus (blur)="updateValue($event, 'motorista', 'nome' , rowIndex)" type="text" [value]="value" />
</ng-template> -->