<div id="app_container" class="{{configurations.theme | lowercase}}-theme">
    <ng2-toasty></ng2-toasty>
    <div class='container'>
        <nav id="header" class="app-component navbar navbar-inner navbar-fixed-top">
            <nav class="container">
                <div class="navbar-header">
                    <button type="button" class="app-component navbar-toggle collapsed" 
                       data-toggle="collapse" data-target=".menuItemsContainer.app-component" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="app-component navbar-brand" routerLink="/">
                        <img [src]="appLogo" alt="logo">
                        <span class="app-component appTitle">{{appTitle}}</span>
                    </a>
                </div>
                <div *ngIf="isUserLoggedIn" class="app-component collapse navbar-collapse menuItemsContainer">
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink=""><span class="glyphicon glyphicon-home"></span></a></li>
                        <li routerLinkActive="active" *ngIf="isFuncionario">
                            <a routerLink="/funcionario/setores">Meus Turnos</a>
                        </li>
                        <li routerLinkActive="active" *ngIf="canViewCustomers && !isFuncionario"><a routerLink="/usuarios">{{'mainMenu.Customers' | translate}}</a></li>
                        <li routerLinkActive="active" *ngIf="canViewCustomers && !isFuncionario"><a routerLink="/locais">Locais</a></li>
                        <li routerLinkActive="active"><a routerLink="/about">{{'mainMenu.About' | translate}}</a></li>
                        <li routerLinkActive="active"><a routerLink="/ajuda">Ajuda</a></li>
                    </ul>
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li (click)="logout()"><a href="javascript:;"><span class="glyphicon glyphicon-log-out"></span> {{'mainMenu.Logout' | translate}}</a></li>
                    </ul>
                    <p class="app-component navbar-text navbar-right notifications-popup">
                        {{'app.Welcome' | translate}}
                        <a class="app-component navbar-link user-name" [popover]="popTemplate" (onHidden)="markNotificationsAsRead()" placement="bottom" [popoverTitle]="notificationsTitle" href="javascript:;" triggers="focus">
                            {{userName}}
                            <span *ngIf="newNotificationCount > 0" class="badge">{{newNotificationCount}}</span>
                        </a>,
                    </p>

                    <ng-template #popTemplate>
                        <notifications-viewer [isViewOnly]="true"></notifications-viewer>
                    </ng-template>


                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li routerLinkActive="active"><a routerLink="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                    </ul>
                </div>
                <div *ngIf="!isUserLoggedIn && router.isActive('/about', false)" 
                  class="app-component collapse navbar-collapse menuItemsContainer">
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li routerLinkActive="active"><a routerLink="/login">
                            <span class="glyphicon glyphicon-log-in"></span></a></li>
                    </ul>
                </div>
                <div *ngIf="!isUserLoggedIn && router.isActive('/login', false) || false" 
                  class="app-component collapse navbar-collapse menuItemsContainer">
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li routerLinkActive="active"><a routerLink="/about">
                            <span class="glyphicon glyphicon-info-sign"></span></a></li>
                    </ul>
                </div>
            </nav>
        </nav>

        <div id="pre-bootstrap" *ngIf="!removePrebootScreen" 
           [class.prebootShow.app-component]="!isAppLoaded" class="app-component prebootStep">
            <div class="messaging">
                <h1>
                    Carregado!
                </h1>
                <p>
                    RAMALHO DUBEUX - Livro Eletrônico de Ocorrências - 
                    <span class="appName" style="font-style:italic"></span><span class="appName">
                    </span> &copy; <a href="http://www.lightbase.com.br">www.lightbase.com.br</a>
                </p>

            </div>
        </div>

        <div id="mainContent" class="app-component">
            <router-outlet></router-outlet>
        </div>

        <div id="footer">
            <div class="app-component navbar-fixed-bottom navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="app-component vcenter_text center-block">
                            <p class="text-center text-muted">
                                <span class="appName" style="font-style:italic">DUBEUX</span><span class="appName">App</span> &copy; {{getYear()}}
                                <a href="http://www.lightbase.com.br" target="_blank">
                                    <img src="../assets/images/lightbase_powered.jpg" alt="lightbase logomarca" style="height: 30px;">
                                </a>
                                <!--<span class="small display-none">- Powered by <a href="http://ebenmonney.com/quickapp" 
                                    target="_blank"><span class="appName" style="font-style:italic">quick</span><span class="appName">App

                                    </span></a></span>-->
                            </p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="shouldShowLoginModal" class="modal fade" bsModal 
       #loginModal="bs-modal" (onShown)="onLoginModalShown()" 
       (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()"
         [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <app-login #loginControl isModal="true"></app-login>
        </div>
    </div>
    
</div>