﻿<div *ngIf="data" >
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Sua licensa de avaliação expira em {{data | date:'dd/mm/yy'}}</h3>
        </div>
    </div>
</div>
