﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email confirmado.</title>
</head>
<body>
    <nav class="container">
        <div class="navbar-header">
            <button aria-expanded="false" class="app-component navbar-toggle collapsed" data-target=".menuItemsContainer.app-component" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="app-component navbar-brand" routerlink="/" ng-reflect-router-link="/" href="/">
                <img alt="logo" src="dist/421ee10056e0a2c605d96188f88a1a88.png">
                <span class="app-component appTitle">LEO</span>
            </a>
        </div>
    </nav>
</body>
</html>
