<div class="container">
    
    <header class="pageHeader">
        <h3> 
            <i class="fa fa-map-o fa-lg page-caption" aria-hidden="true"></i>
            {{endereco}}
        </h3>
        <h4> 
            <i class="fa fa-map-o fa-lg page-caption" aria-hidden="true"></i>
            Setor {{nome}}
        </h4>
    </header>
    <div class="row control-box">
        <div class="col-sm-8">
            <div class="form-group search-box">
                <!-- <search-box (searchChange)="onSearchChanged($event)" 
                   placeholder="Por nome">></search-box> -->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="navbar action-box">
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolbaritem">
                        <a href="javascript:;" (click)="novaEscala()">
                            <i class="fa fa-plus-circle"></i> 
                            Nova Escala
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div [@fadeInOut]>
        <!-- {{rows|json}} -->
      <ngx-datatable class="material colored-header sm table table-striped table-hover"
        [loadingIndicator]="loadingIndicator"
        [rows]="rows"
        [rowHeight]="50"
        [headerHeight]="40"
        [footerHeight]="50"
        [columns]="columns"
        [scrollbarV]="true"
        [columnMode]="'force'">
      </ngx-datatable>

    </div>
</div>

<ng-template #acoesTemplate let-value="value" let-row="row" >
        <!-- <a class="btn btn-link btn-xs" href="javascript:;" title="Ver"  href="setores/{{value}}/escalas">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Escala
        </a>
        <a class="btn btn-link btn-xs" href="javascript:;" title="Ver" href="setores/{{value}}/livro">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Livro Ocorroencias
        </a> -->
</ng-template>

<ng-template #horarioTemplate let-value="value">
    <span> {{ value | ptBrDate }} </span>
</ng-template>

<div class="modal fade" bsModal #editorModal="bs-modal" 
   (onHidden)="editorModal.hide()" [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        Nova Escala
                    </h4>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit(formulario)" [formGroup]="formulario" novalidate >
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label for="inicio" class="col-sm-2">Inicio:</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" name="diaInicio" formControlName="diaInicio"  id="diaInicio">
                                          <option *ngFor="let dia of DIAS_SEMANA">{{dia}}</option>
                                        </select>
                                      </div>  
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="time" class="form-control" formControlName="horaInicio" name="horaInicio" id="horaInicio">
                                    </div>  
                                </div>
                                <label for="Fim" class="col-sm-2">Fim:</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" name="diaFim" id="diaFim" formControlName="diaFim" >
                                          <option *ngFor="let dia of DIAS_SEMANA">{{dia}}</option>
                                        </select>
                                      </div>  
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="time" formControlName="horaFim"  class="form-control" name="horaFim" id="horaFim">
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label for="Fim" class="col-sm-4">Funcionario:</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="funcionario" 
                                           name="funcionario" id="funcionario">
                                          <option *ngFor="let item of funcionarios" [value]="item.id">{{item.nome}}</option>
                                        </select>
                                      </div>  
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
</div>