<div class="container">
    <header class="pageHeader">
        <h3> <i class="fa fa-map-o fa-lg page-caption" aria-hidden="true"></i> Locais </h3>
    </header>
    <div class="row control-box">
        <div class="col-sm-8">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" 
                   placeholder="Pesquisar por endereco">></search-box>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="navbar action-box">
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolbaritem">
                        <a href="javascript:;" (click)="newLocal()">
                            <i class="fa fa-plus-circle"></i> 
                            Novo
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div [@fadeInOut]>
        <!-- {{rows|json}} -->
      <ngx-datatable class="material colored-header sm table table-striped table-hover"
        [loadingIndicator]="loadingIndicator"
        [rows]="rows"
        [rowHeight]="60"
        [headerHeight]="40"
        [footerHeight]="60"
        [columns]="columns"
        [scrollbarV]="true"
        [columnMode]="'force'">
      </ngx-datatable>

    </div>

<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="editorModal.hide()" [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        <!-- <i class="fa fa-building"></i> {{newLocalObj.id ? 'Editar' : 'Novo Local' }} -->
                    </h4>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" (ngSubmit)="onSubmit(criarForm)" #criarForm="ngForm" novalidate >
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="descricao">Descrição</label>
                            <div class="col-md-9" 
                               [ngClass]="{'has-success': criarForm.submitted && descricao.valid, 'has-error' : 
                                  criarForm.submitted && !descricao.valid}" >
                                  <input type="text" attr.id="descricao_attr_id" name="descricao" 
                                     placeholder="descrição do local" class="form-control" #descricao="ngModel" [(ngModel)]="newLocalObj.descricao" required />
                            </div>       
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="endereco.logradouro">Rua:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': criarForm.submitted && logradouro.valid, 'has-error' : criarForm.submitted && !logradouro.valid}">
                                <input type="text" id="endereco.logradouro" name="logradouro" placeholder="Rua" class="form-control" [(ngModel)]="newLocalObj.endereco.logradouro" #logradouro="ngModel" required />
                                <span *ngIf="criarForm.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': logradouro.valid, 'glyphicon-remove' : !logradouro.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="criarForm.submitted && !logradouro.valid">
                                    Rua requerido
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="cep">Cep:</label>
                            <div class="col-md-6" [ngClass]="{'has-success': criarForm.submitted && cep.valid, 'has-error' : criarForm.submitted && !cep.valid}">
                                <input type="text" (blur)="searchCep(cep)" [textMask]="{ mask: maskCep }" id="cep" name="cep" placeholder="Cep" class="form-control" [(ngModel)]="newLocalObj.endereco.cep" #cep="ngModel" required pattern="[1-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]" />
                                <span *ngIf="criarForm.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': cep.valid, 'glyphicon-remove' : !cep.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="criarForm.submitted && !cep.valid">
                                    Cep requerido
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="confirma-numero">N°:</label>
                            <div class="col-md-4" [ngClass]="{'has-success': criarForm.submitted && numero.valid, 'has-error' : criarForm.submitted && !numero.valid}">
                                <input type="text" id="confirma-numero" name="numero" placeholder="Número" class="form-control" [(ngModel)]="newLocalObj.endereco.numero" #numero="ngModel" required />
                                <span *ngIf="criarForm.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': numero.valid, 'glyphicon-remove' : !numero.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="criarForm.submitted && !numero.valid">
                                    Número requerido
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="confirma-bairro">Bairro:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': criarForm.submitted && bairro.valid, 'has-error' : criarForm.submitted && !bairro.valid}">
                                <input type="text" id="confirma-bairro" name="bairro" placeholder="Bairro" class="form-control" [(ngModel)]="newLocalObj.endereco.bairro" #bairro="ngModel" required />
                                <span *ngIf="criarForm.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': bairro.valid, 'glyphicon-remove' : !bairro.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="criarForm.submitted && !bairro.valid">
                                    Bairro requerido
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="confirma-cidade">Cidade:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': criarForm.submitted && cidade.valid, 'has-error' : criarForm.submitted && !cidade.valid}">
                                <input type="text" id="confirma-cidade" name="cidade" placeholder="Cidade" class="form-control" [(ngModel)]="newLocalObj.endereco.localidade" #cidade="ngModel" required />
                                <span *ngIf="criarForm.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': cidade.valid, 'glyphicon-remove' : !cidade.valid}" aria-hidden="true">            
                                </span>
                                <span class="errorMessage" *ngIf="criarForm.submitted && !cidade.valid">
                                    Cidade requerido
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
</div>

<ng-template #enderecoTemplate let-value="value">
    <strong>{{value.logradouro}}, {{value.numero}} - {{value.localidade}}</strong>
</ng-template>

<ng-template #acoesTemplate let-value="value" let-row="row" >
    <a class="btn btn-link btn-xs" href="javascript:;" title="Ver" (click)="editar(row)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Editar
    </a>
    <a class="btn btn-link btn-xs" [routerLink]="['/locais',value, getEndereco(row.endereco)]" title="Setores" >
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Setores
    </a>
    <a class="btn btn-link btn-xs" href="javascript:;" title="Ver" href="turnos/{{value}}">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Del.
    </a>
</ng-template>