<div class="container">
    
    <header class="pageHeader">
        <h3> 
            <i class="fa fa-map-o fa-lg page-caption" aria-hidden="true"></i>
            {{endereco}}
        </h3>
    </header>
    <div class="row control-box">
        <div class="col-sm-8">
            <div class="form-group search-box">
                <!-- <search-box (searchChange)="onSearchChanged($event)" 
                   placeholder="Por nome">></search-box> -->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="navbar action-box">
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolbaritem">
                        <a href="javascript:;" (click)="newSetor()">
                            <i class="fa fa-plus-circle"></i> 
                            Novo Setor
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div [@fadeInOut]>
      <ngx-datatable class="material colored-header sm table table-striped table-hover"
        [loadingIndicator]="loadingIndicator"
        [rows]="rows"
        [rowHeight]="50"
        [headerHeight]="40"
        [footerHeight]="50"
        [columns]="columns"
        [scrollbarV]="true"
        [columnMode]="'force'">
      </ngx-datatable>

    </div>
</div>

<ng-template #acoesTemplate let-value="value" let-row="row" >
        <a class="btn btn-link btn-xs" href="javascript:;" title="Ver"  
          href="#/locais/{{row.localEntityId}}/{{getEnderecoUrlEncode(endereco)}}/{{row.nome}}/{{value}}">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            Escalas
        </a>
        <a class="btn btn-link btn-xs" href="javascript:;" title="Ver" href="#/setores/{{value}}/livro">
            <i class="fa fa-book" aria-hidden="true"></i>
            Livros Ocorrencias
        </a>
</ng-template>

<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="editorModal.hide()" [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        <i class="fa fa-building"></i> {{newSetorObj.id ? 'Editar' : 'Novo Setor' }}
                    </h4>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" (ngSubmit)="onSubmit(criarForm)" #criarForm="ngForm" novalidate >
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="nome">Descrição</label>
                            <div class="col-md-9" 
                               [ngClass]="{'has-success': criarForm.submitted && nome.valid, 'has-error' : 
                                  criarForm.submitted && !nome.valid}" >
                                  <input type="text" attr.id="descricao_attr_id" name="nome" 
                                     placeholder="nome do local" class="form-control" #nome="ngModel" [(ngModel)]="newSetorObj.nome" required />
                            </div>       
                        </div>
                        <button type="submit" class="btn btn-default">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
</div>