<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-6">
                <h2>Falar sobre o produto e a empresa<sup>&reg;</sup></h2>
                <p>Contatos</p>
                <br />
            </div>
            <div class="col-sm-6">
                <!-- Column 2 -->
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Lightbase</h2>
                
                <p>
                   Texto sobre lightbaseneo
                </p>
            </div>
        </div>
    </div>
</div>
