@{
    ViewData["Title"] = "Home Page";
}

<quick-app>
    <!--
           Anything inside the <my-app> component content-area will be automatically
           replaced with the "template" (associated with the <my-app> component) once
           the application is bootstrapped. The upside of this is that it just happens
           automatically. The downside of this is that the content instantaneously
           disappears once the application has been bootstrapped.
       -->
    <div id="pre-bootstrap">
        <div class="messaging">
            <h1>
                Carregando Aplicativo...
            </h1>
            <div class="cs-loader">
                <div class="cs-loader-inner">
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                </div>
            </div>
            <p>
                LEO - Livro Eletronico Online - <span class="appName" style="font-style:italic"></span><span class="appName"></span> &copy; <a href="http://www.lightbase.com.br">lightbase.com.br</a>
            </p>

        </div>
    </div>
</quick-app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
